<?xml version="1.0"?>

<config>
<!-- Top Level Tabs -->
    <tabs>
        <emailchef_tab translate="label" module="emailchef">
            <label>eMailChef</label>
            <class>emailchef-tab-parent</class>
            <sort_order>300</sort_order>
        </emailchef_tab>
    </tabs>

    <sections>
        <emailchef_newsletter>
            <class>emailchef-tab</class>
            <!--<header_css>internetware-tab</header_css>-->
            <label><![CDATA[Settings & Field Mapping]]></label>
            <tab>emailchef_tab</tab>
            <frontend_type>text</frontend_type>
            <sort_order>99999</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>

            <groups>
                <!-- main config section -->
                <emailchef translate="label">
                    <label>eMailChef Extension Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <username_ws translate="label comment">
                            <label>Email</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
	                        <backend_model>emailchef/webserviceusernamevalidator</backend_model>
                        </username_ws>
                        <password_ws translate="label comment">
                            <label>Password</label>
                            <frontend_type>password</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <!--<comment>For assistance visit</comment>-->
                        </password_ws>
                        <check translate="label">
                            <label>Test Connection</label>
                            <frontend_type>button</frontend_type>
                            <frontend_model>emailchef/adminhtml_system_config_form_testbutton</frontend_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </check>
                        <list translate="label">
                            <label>List</label>
                            <frontend_type>select</frontend_type>
                            <source_model>emailchef/source_lists</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </list>
                        <default_group translate="label comment">
                            <label>Default Group</label>
                            <frontend_type>select</frontend_type>
                            <source_model>emailchef/source_groups</source_model>
                            <sort_order>65</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Used as default group in all subscriptions that do not have a manual group set</comment>
                        </default_group>
	                    <enable_subscribe_in_checkout tranlate="label comment">
		                    <label>Enable subscription checkbox during checkout</label>
		                    <frontend_type>select</frontend_type>
		                    <source_model>adminhtml/system_config_source_yesno</source_model>
		                    <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
			            </enable_subscribe_in_checkout>
                        <!--<require_subscription_confirmation tranlate="label comment">
                            <label>Require Subscription Confirmation</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>75</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Defines whether double opt-in is required</comment>
                        </require_subscription_confirmation>-->
                        <enable_cron_export tranlate="label comment">
                            <label>Enable Automatic Data Export to eMailChef</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_cron_export>
                        <qualifying_order_statuses>
                            <label>Order Statuses to Match For Customer Totals</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>adminhtml/system_config_source_order_status</source_model>
                            <sort_order>83</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>If none set, those that are complete, closed or processing will be matched</comment>
                        </qualifying_order_statuses>
                        <server_timezone translate="label comment">
                            <label>Server Timezone</label>
                            <frontend_type>label</frontend_type>
                            <frontend_model>emailchef/adminhtml_system_config_form_field_timezone</frontend_model>
                            <sort_order>85</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <frontend_class>disabled</frontend_class>
                        </server_timezone>
                        <emailchef_cron_frequency translate="label comment">
                            <label>Export Frequency</label>
                            <frontend_type>select</frontend_type>
                            <source_model>emailchef/adminhtml_system_source_cron_frequency</source_model>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </emailchef_cron_frequency>
                        <emailchef_cron_offset translate="label comment">
                            <label>Export Offset (in hours)</label>
                            <frontend_type>text</frontend_type>
                            <validate>validate-digits</validate>
                            <sort_order>95</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>e.g. Offset of 2 hours and frequency of each 12 hours will run at 02:00 and 14:00</comment>
                        </emailchef_cron_offset>
                        <enable_log>
                            <label>Enable Module Debugging Log</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>110</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_log>
                        <create_custom_fields translate="label">
                            <label>Create missing default fields in list and map them</label>
                            <frontend_type>button</frontend_type>
                            <frontend_model>emailchef/adminhtml_system_config_form_createfieldsbutton</frontend_model>
                            <sort_order>120</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </create_custom_fields>
                    </fields>
                </emailchef>
                <!-- mapping section -->
                <emailchef_mapping translate="label">
                    <label>eMailChef Field Mapping</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>5</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <comment>Matching Magento customer attributes (on the left) with eMailChef attributes (on the right)</comment>
                    <fields>
                        <Name translate="comment">
                            <label>Name</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
	                        <source_model>emailchef/adminhtml_system_source_fields</source_model>
                        </Name>
                        <Last translate="comment">
                            <label>Last</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <!--<comment>test..</comment>-->
	                        <source_model>emailchef/adminhtml_system_source_fields</source_model>
                        </Last>
                        <Email translate="comment">
                            <label>Email</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
	                        <source_model>emailchef/adminhtml_system_source_fields</source_model>
                        </Email>
                        <Company translate="comment">
                            <label>Company</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
	                        <source_model>emailchef/adminhtml_system_source_fields</source_model>
                        </Company>
                        <Address translate="comment">
                            <label>Address</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
	                        <source_model>emailchef/adminhtml_system_source_fields</source_model>
                        </Address>
                        <City translate="comment">
                            <label>City</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>emailchef/adminhtml_system_source_fields</source_model>
                        </City>
                        <ZIP translate="comment">
                            <label>ZIP</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>emailchef/adminhtml_system_source_fields</source_model>
                        </ZIP>
                        <Province translate="comment">
                            <label>Province</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>emailchef/adminhtml_system_source_fields</source_model>
                        </Province>
                        <Region translate="comment">
                            <label>Region</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>emailchef/adminhtml_system_source_fields</source_model>
                        </Region>
                        <Country translate="comment">
                            <label>Country</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>emailchef/adminhtml_system_source_fields</source_model>
                        </Country>
                        <Gender translate="comment">
                            <label>Gender</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>emailchef/adminhtml_system_source_fields</source_model>
                        </Gender>
                        <DateOfBirth translate="comment">
                            <label>DateOfBirth</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>emailchef/adminhtml_system_source_fields</source_model>
                        </DateOfBirth>
                        <CustomerID translate="comment">
                            <label>CustomerID</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>emailchef/adminhtml_system_source_fields</source_model>
                        </CustomerID>
                        <Phone translate="comment">
                            <label>Phone</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>emailchef/adminhtml_system_source_fields</source_model>
                        </Phone>
                        <Fax translate="comment">
                            <label>Fax</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>emailchef/adminhtml_system_source_fields</source_model>
                        </Fax>
                        <LatestOrderID translate="comment">
                            <label>LatestOrderID</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>emailchef/adminhtml_system_source_fields</source_model>
                        </LatestOrderID>
                        <LatestOrderDate translate="comment">
                            <label>LatestOrderDate</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>emailchef/adminhtml_system_source_fields</source_model>
                        </LatestOrderDate>
                        <LatestOrderAmount translate="comment">
                            <label>LatestOrderAmount</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>emailchef/adminhtml_system_source_fields</source_model>
                        </LatestOrderAmount>
                        <LatestOrderProductIDs translate="comment">
                            <label>LatestOrderProductIDs</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>emailchef/adminhtml_system_source_fields</source_model>
                        </LatestOrderProductIDs>
                        <LatestOrderCategoryIDs translate="comment">
                            <label>LatestOrderCategoryIDs</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>emailchef/adminhtml_system_source_fields</source_model>
                        </LatestOrderCategoryIDs>
                        <LatestShippedOrderDate translate="comment">
                            <label>LatestShippedOrderDate</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>emailchef/adminhtml_system_source_fields</source_model>
                        </LatestShippedOrderDate>
                        <LatestShippedOrderID translate="comment">
                            <label>LatestShippedOrderID</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>emailchef/adminhtml_system_source_fields</source_model>
                        </LatestShippedOrderID>
                        <LatestAbandonedCartDate translate="comment">
                            <label>LatestAbandonedCartDate</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>emailchef/adminhtml_system_source_fields</source_model>
                        </LatestAbandonedCartDate>
                        <LatestAbandonedCartTotal translate="comment">
                            <label>LatestAbandonedCartTotal</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>emailchef/adminhtml_system_source_fields</source_model>
                        </LatestAbandonedCartTotal>
                        <LatestAbandonedCartID translate="comment">
                            <label>LatestAbandonedCartID</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>emailchef/adminhtml_system_source_fields</source_model>
                        </LatestAbandonedCartID>
                        <TotalOrdered translate="comment">
                            <label>TotalOrdered</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>emailchef/adminhtml_system_source_fields</source_model>
                        </TotalOrdered>
                        <TotalOrderedLast12m translate="comment">
                            <label>TotalOrderedLast12m</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>emailchef/adminhtml_system_source_fields</source_model>
                        </TotalOrderedLast12m>
                        <TotalOrderedLast30d translate="comment">
                            <label>TotalOrderedLast30d</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>emailchef/adminhtml_system_source_fields</source_model>
                        </TotalOrderedLast30d>
                        <AllOrderedProductIDs translate="comment">
                            <label>AllOrderedProductIDs</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>emailchef/adminhtml_system_source_fields</source_model>
                        </AllOrderedProductIDs>
                    </fields>
                </emailchef_mapping>
                <emailchef_mapping_custom translate="label">
                    <label>Custom Customer Attributes</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <clone_fields>1</clone_fields>
                    <clone_model>emailchef/adminhtml_system_clone_mappings_custom</clone_model>
                    <comment>Matching custom Magento customer attributes (on the left) with eMailChef attributes (on the right)</comment>
                    <fields>
                        <custom_customer_attributes translate="label">
                            <label></label>
                            <frontend_type>select</frontend_type>
                            <source_model>emailchef/adminhtml_system_source_fields</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </custom_customer_attributes>
                    </fields>
                </emailchef_mapping_custom>
            </groups>
        </emailchef_newsletter>
    </sections>
</config>
